header, footer{
    background:#1565C0;
    padding:10px;
  }
  .footer-columns{
    display:flex;
  }
  .footer-column{
    flex:50%;
    margin:20px;
  }
  .post{
    display:flex;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    background-color:#546E7A;
    margin-right:20px;
  }
  .post img{
    margin:20px;
    
  }
  main{
    padding:10px;
    background-color:#2962FF
  }
  h5{
    color:grey;
  }
  .comment{
    background:red;
    padding:20px;
    border-radius:10px;
    margin-top:10px;
  }
  #sub-comment{
    margin-left:40px;
  }